/*--
    - Fullcalendar
--------------------------------------*/
.fullcalendar {
    // Toolbar
    & .fc-toolbar {
        // Button
        & .fc-button {
            @extend .button;
            @extend .button-sm;
            background-color: transparent;
            border-color: #dddddd;
            box-shadow: none;
            text-shadow: none;
            background-image: none;
            height: auto;
            margin-left: 0;
            margin-bottom: 0;
            margin-right: 10px;
            padding: 3px 12px;
            &:hover {
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
            & .fc-icon {
                font-family: inherit;
                margin: 0;
                &.fa {
                    font-family: $icon-fontawesome !important;
                }
                &[class*="ti"] {
                    font-family: $icon-themify !important;
                }
                &.zmdi {
                    font-family: $icon-mdif !important;
                }
                &.crypto {
                    font-family: $icon-cryptocurrency !important;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &.fc-state-active {
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }
        // Title
        & h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
        }
        & .fc-left {}
        & .fc-right {}
        & .fc-center {}
    }
    // View Container
    & .fc-view-container {
        // Event
        & .fc-event-container {
            & .fc-event {
                border-color: transparent;
                border-radius: 3px;
                padding: 3px 5px;
                background-color: #dddddd;
                & .fc-content {
                    padding-bottom: 1px;
                }
                &.fc-event-primary, &.fc-event-secondary, &.fc-event-success, &.fc-event-danger, &.fc-event-warning, &.fc-event-info {
                    color: $white;
                }
                &.fc-event-primary {
                    background-color: $primary;
                }
                &.fc-event-secondary {
                    background-color: $secondary;
                }
                &.fc-event-success {
                    background-color: $success;
                }
                &.fc-event-danger {
                    background-color: $danger;
                }
                &.fc-event-warning {
                    background-color: $warning;
                }
                &.fc-event-info {
                    background-color: $info;
                }
            }
        }
        & .fc-day-grid-event {
            margin: 5px 5px 0;
        }
    }
    // Responsive
    @media #{$small-mobile} {
        & .fc-toolbar {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
            & > * {
                flex: 1 0 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 15px;
            }
            & h2 {
                display: block;
                float: none;
            }
            & h2 {
                display: block;
                float: none;
            }
            & .fc-left {
                order: 3;
            }
            & .fc-right {
                order: 2;
            }
            & .fc-center {
                order: 1;
            }
            & .fc-clear {
                display: none;
            }
        }
    }
}