{% extends 'user_template/index.html' %}
{% load static %}
{% block content %}
    <div class="layui-container">


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">更新个人信息</h2>
                <div class="layui-colla-content layui-show">
                    更新个人信息.......
                </div>
            </div>
        </div>

        <form class="layui-form" action="/user" method="post">
            {% csrf_token %}
            {% for item in form %}
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 200px;">{{ item.label }}</label>
                    <div class="layui-input-block" style="margin-left: 260px;">
                        {{ item }}
                    </div>
                </div>
            {% endfor %}
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="update">更新个人信息</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        layui.use(['form', 'jquery', 'layer'], function () {
            var form = layui.form;
            var $ = layui.jquery;
            var layer = layui.layer;

            {% if message %}
                layer.msg('{{ message }}');
            {% endif %}


            //提交
            form.on('submit(update)', function (data) {
                return true;
            });
        });
    </script>
{% endblock %}