{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>疫情防控管理系统</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/cryptocurrency-icons.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.css' %}">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="{% static 'css/helper.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="{% static 'css/style-primary.css' %}">

    <style>
        #side-header-menu ul li a {
            font-size: 20px;
        }
        #side-header-menu ul li ul li a {
            font-size: 18px;
        }
    </style>
</head>

<body>

    <div class="main-wrapper">

        <!-- Header Section Start -->
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo (Header Left) Start -->
                    <div class="header-logo col-auto">
                        <a href="/admin/">
                            <img src="{% static 'images/logo/logo.png' %}" alt="">
                            <img src="{% static 'images/logo/logo-light.png' %}" class="logo-light" alt="">
                        </a>
                    </div><!-- Header Logo (Header Left) End -->

                    <!-- Header Right Start -->
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">

                            <!-- Side Header Toggle & Search Start -->
                            <div class="col-auto">
                                <div class="row align-items-center">

                                    <!--Side Header Toggle-->
                                    <div class="col-auto"><button class="side-header-toggle"><i class="zmdi zmdi-menu"></i></button></div>

                                    <!--Header Search-->
                                    <div class="col-auto">
                                        <div class="header-search">
                                            <button class="header-search-open d-block d-xl-none"><i class="zmdi zmdi-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Side Header Toggle & Search End -->

                            <!-- Header Notifications Area Start -->
                            <div class="col-auto">

                                <ul class="header-notification-area">
                                    <!--User-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                        <span class="avatar">
                                            <img src="{% static 'images/avatar/avatar-1.jpg' %}" alt="">
                                            <span class="status"></span>
                                            </span>
                                            <span class="name">{{ request.session.admin.nickname }}</span>
                                            </span>
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-user">
                                            <div class="head">
                                                <h5 class="name"><a href="#">{{ request.session.admin.nickname }}</a></h5>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-account"></i>个人中心</a></li>
                                                    <li><a href="/admin/logout"><i class="zmdi zmdi-lock-open"></i>登出</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div><!-- Header Notifications Area End -->

                        </div>
                    </div><!-- Header Right End -->

                </div>
            </div>
        </div><!-- Header Section End -->
        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li class="has-sub-menu"><a href="#"><i class="ti-home"></i> <span>风险地区管理</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/admin/es/display"><span>风险地区管理</span></a></li>
                                <li><a href="/admin/es/add"><span>新增风险地区</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-package"></i> <span>疫苗管理</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/admin/vaccines/display"><span>疫苗管理</span></a></li>
                                <li><a href="/admin/vaccines/add"><span>新增疫苗</span></a></li>
                            </ul>
                        </li>

                        <li class="has-sub-menu"><a href="#"><i class="ti-package"></i> <span>病例管理</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/admin/case/display"><span>病例管理</span></a></li>
                                <li><a href="/admin/case/edit"><span>更新当日病例信息</span></a></li>
                            </ul>
                        </li>

                        <li class="has-sub-menu"><a href="#"><i class="ti-package"></i> <span>地区政策管理</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/admin/area_policy/display"><span>地区政策管理</span></a></li>
                                <li><a href="/admin/area_policy/outpatient_department/display"><span>发热门诊管理</span></a></li>
                                <li><a href="/admin/area_policy/outpatient_department/add"><span>新增发热门诊</span></a></li>
                            </ul>
                        </li>

                        <li class="has-sub-menu"><a href="#"><i class="ti-package"></i> <span>用户管理</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/admin/user/display"><span>用户管理</span></a></li>
                                <li><a href="/admin/user/add"><span>创建用户</span></a></li>
                                <li><a href="/admin/health_report/display"><span>健康上报管理</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->


        {% block content %} {% endblock %}

        <!-- Footer Section Start -->
        <div class="footer-section">
            <div class="container-fluid">

                <div class="footer-copyright text-center">
                    <p class="text-body-light">2022 &copy; <a href="http://www.booTStrapmb.com">广东技术师范大学</a></p>
                </div>

            </div>
        </div><!-- Footer Section End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugins JS-->
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}></script>
    <script src="{% static 'js/plugins/tippy4.min.js.js' %}></script>
    <!--Main JS-->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Plugins & Activation JS For Only This Page -->

    <!--Moment-->
    <script src="{% static 'js/plugins/moment/moment.min.js' %}"></script>

    <!--Daterange Picker-->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.active.js' %}"></script>

    <!--Echarts-->
    <script src="{% static 'js/plugins/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'js/plugins/chartjs/chartjs.active.js' %}"></script>

    <!--VMap-->
    <script src="{% static 'js/plugins/vmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'js/plugins/vmap/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'js/plugins/vmap/maps/samples/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'js/plugins/vmap/vmap.active.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>