/*----------------------------------------*/
/*  20. Footer CSS
/*----------------------------------------*/
.footer-section {
    background-color: $light-grey;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-top: auto;
}