{% extends 'index.html' %}
{% load static %}
<link rel="stylesheet" href="{% static '' %}">
<style>
    option {
        font-size: 48px;
    }

    .content-body > div, nav, button {
        margin-top: 20px;
    }
</style>
{% block content %}
    <!-- Content Body Start -->
    <div class="content-body">

        <!-- Page Headings Start -->
        <div class="row justify-content-between align-items-center mb-10">

            <!-- Page Heading Start -->
            <div class="col-12 col-lg-auto mb-20">
                <div class="page-heading">
                    <h3 class="title">表格 <span>/ 健康上报管理显示</span></h3>
                </div>
            </div><!-- Page Heading End -->

        </div><!-- Page Headings End -->



        <form class="inline" action="/admin/health_report/display" method="get">
            <div class="form-row" style="margin-top: 20px;">
                <div class="form-group col-md-2">
                    <label for="previous-date">健康上报日期上</label>
                    <input id="previous-date" class="form-control" name="p_date" type="date" value="{{ previous_date }}">
                </div>

                <div class="form-group col-md-2">
                    <label for="next-date">健康上报日期下</label>
                    <input id="next-date" class="form-control" name="n_date" type="date" value="{{ next_date }}">
                </div>

                 <div class="form-group col-md-1">
                    <label>&nbsp;</label>
                    <button class="btn-outline-primary form-control"><a href="/admin/health_report/display">清除条件</a></button>
                </div>

                <div class="form-group col-md-1">
                    <label>&nbsp;</label>
                    <button class="btn-outline-primary form-control"  id="btn-today"><a href="/admin/health_report/display?p_date={{ now_str }}&n_date={{ now_str }}">今天</a></button>
                </div>
            </div>

        </form>


        <table class="table table-bordered" style="margin-top: 20px;">
            <thead>
            <tr>
                {% for item in health_report_fields.values %}
                    <td>{{ item }}</td>
                {% endfor %}
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for item in health_reports %}
                <tr>
                    <td>{{ item.user.nickname }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.get_health_code_status_display }}</td>
                    <td>{{ item.get_trip_card_status_display }}</td>
                    <td>{{ item.get_vaccination_status_display }}</td>
                    <td>{{ item.get_error_area_display }}</td>
                    <td>{{ item.get_is_fever_display }}</td>
                    <td>{{ item.get_body_status_display }}</td>
                    <td>{{ item.get_health_observations_display }}</td>
                    <td>{{ item.public_date|date:'Y年m月d日' }}</td>
                    <td>
                        <button class="btn-default btn-outline-success"><a href="/admin/user/edit/{{ item.id }}">编辑</a></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav>

            <ul class="pagination">
                {% if page_number > 1 %}
                    <li class="page-item"><a class="page-link"
                                             href="/admin/user/display?page={{ page_number|add:-1 }}&size=={{ paginator.per_page }}">上一页</a>
                    </li>
                {% endif %}

                {% for index in paginator.pages %}
                    {% if page_number == index %}
                        <li class="page-item active"><a class="page-link"
                                                        href="/admin/user/display?nick={{ nickname }}&p_date={{ previous_date }}&n_date={{ next_date }}&page={{ index }}&size=={{ paginator.per_page }}">{{ index }}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="/admin/user/display?nick={{ nickname }}&p_date={{ previous_date }}&n_date={{ next_date }}&page={{ index }}&size=={{ paginator.per_page }}">{{ index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if paginator.has_more %}
                    <li class="page-item"><a class="page-link"
                                             href="/admin/user/display?nick={{ nickname }}&p_date={{ previous_date }}&n_date={{ next_date }}&page={{ paginator.num_pages }}&size=={{ paginator.per_page }}">...</a>
                    </li>
                {% endif %}
                {% if page_number < paginator.num_pages %}
                    <li class="page-item"><a class="page-link"
                                             href="/admin/user/display?nick={{ nickname }}&p_date={{ previous_date }}&n_date={{ next_date }}&page={{ page_number|add:1 }}&size=={{ paginator.per_page }}">下一页</a>
                    </li>
                {% endif %}


                <li class="page-item"><span class="page-link">共{{ paginator.num_pages }}页</span></li>


            </ul>

        </nav>
    </div>


{% endblock %}

{% block javascript %}
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>


    <!--Plugins JS-->
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/tippy4.min.js.js' %}"></script>

    <script src="{% static 'js/plugins/tippy4.min.js.js' %}"></script>
    <script src="{% static 'js/plugins/footable/footable.min.js' %}"></script>
    <script src="{% static 'js/plugins/footable/footable.active.js' %}"></script>

    <script type="text/javascript">
        $('#previous-date').change(function (e) {
            var value = $(this).val();
            var api  = '/admin/health_report/display?page={{ page_number }}&size={{ page_size }}'+
                '&p_date='+value+'&n_date={{ next_date }}';
            window.location.href = api;
        });

        $('#next-date').change(function (e) {
            var value = $(this).val();
            var api  = '/admin/health_report/display?page={{ page_number }}&size={{ page_size }}'+
                '&p_date={{ previous_date }}&n_date='+value;
            window.location.href = api;
        });
    </script>

{% endblock %}